page-profile {

  ion-content {
    .grid {
      padding: 0;
      margin: 0;
    }

    ion-grid {
      > h4 {
        padding-left: 15px;
        text-transform: uppercase;
        font-weight: 900;
        font-size: 15px;
        letter-spacing: 1px;
        color: color($colors, 'secondary');

      }
    }

  }

  .user-info {

    ion-col {
      align-self: center;
    }
    .user-general-info {
      .user-general-img {

        ion-img, img {
          border-radius: 100%;
          width: 70px;
          height: 70px;
          box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
        }
      }

      .user-general-name {
        font-weight: 900;
        text-transform: uppercase;
        color: color($colors, 'primary');

        h2, h4 {
          margin: 0;
          padding: 0;
        }

        .first-name {
          font-weight: 900;
          font-size: 25px;
        }

        .last-name {
          font-size: 20px;
        }

        .position {
          font-weight: 400;
          color: color($colors, 'secondary');
          font-size: 12px;
        }
      }
    }
    .user-general-level {
      color: color($colors, 'primary');
      text-align: center;
      vertical-align: middle;
      align-self: center;
      border-left: solid 1px color($colors, 'secondary');
      > div {
        display: block;
        height: 100%;
        label {
          font-weight: 300;
          text-transform: uppercase;
          font-size: 9px;
          line-height: 10px;
          margin: 0;
          padding: 0;
        }
        h4 {
          margin: 0;
          font-size: 14px;
          line-height: 30px;
          padding: 0;
          font-weight: 900;
          text-transform: uppercase;
        }
      }
    }
  }

  .user-stats {
    background: white;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);

    ion-col {
      text-align: center;
      align-items: center;
      align-self: center;
      ion-icon {
        display: block;
        margin: auto;
        font-size: 20px;
      }
      label {
        color: color($colors, 'secondary');
        text-transform: uppercase;
        font-size: 10px;
        font-weight: 500;
      }
      p {
        color: color($colors, 'primary');
        margin: 0;
        font-size: 25px;
        font-weight: 900;
      }

      &.mvp {
        background: color($colors, 'primary');
        text-align: center;
        border-radius: 100%;
        flex: 0 0 82px;
        border: solid 5px color($colors, 'light');
        ion-icon {
          display: block;
          color: $yellow;
        }
        label, p {
          color: white;
        }
      }
    }
  }

  .teams {
    padding: 0;
    ion-col {
      padding: 0;
    }
    ion-slides {

      .swiper-container {
        padding: 5px 0;
      }
      ion-slide {
        box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.20);
        border-radius: 1px;
        margin: 0 8px;
        background: white;
        padding: 5px 0;
        .team {
          text-align: center;

          img {
            margin: auto;
            display: block;
            width: 50px;
            height: 50px;
            box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.20);
            margin-bottom: 5px;
            border-radius: 100%;
            vertical-align: middle;
          }

          .info {
            display: inline-block;
            vertical-align: middle;
            p {
              margin: 0;
              font-size: 14px;
              line-height: 16px;
              text-transform: uppercase;
              color: #1D3B64;
              padding: 0 5px;
              text-overflow: ellipsis;
              height: 14px;
              line-height: 14px;
              overflow: hidden;
              margin: 5px 0;
            }
            span {
              text-transform: uppercase;
              font-weight: 900;
              display: block;
              font-size: 12px;
              color: color($colors, 'secondary');
            }
          }

        }
      }
    }
  }

  .games {
    > ion-col {
      padding: 0;
    }
    padding: 0;
    ion-card {
      margin: 0;
      margin-bottom: 30px;
      width: 100%;
      ion-col {
        align-self: center;
      }

      ion-col.game-image {
        img {
          height: 40px;
          width: 40px;
          border-radius: 100%;
          object-fit: cover;
        }
      }

      ion-col.game-info {
        vertical-align: middle;
        p.venue-name {
          font-size: 14px;
          font-weight: 400;
          color: color($colors, 'dark');
          text-transform: uppercase;
        }
        p.venue-info {
          text-transform: uppercase;
          font-size: 10px;
          span {
            border-radius: 2px;
            box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
            padding: 2px 5px;
            color: white;
            font-size: 8px;
            font-weight: 900;
            margin: 0 2px;
            &.size {
              background: color($colors, 'success');

            }

            &.localization {
              background: color($colors, 'danger');
            }

            &.type {
              background: $yellow;

            }
          }

        }
      }

      ion-col.game-time {
        flex: 0 0 100px;
        text-align: center;
        vertical-align: middle;

        span.date {
          font-size: 12px;
          line-height: 12px;
          display: block;
          text-transform: uppercase;
          color: color($colors, 'secondary');

        }

        span.time {
          font-size: 20px;
          font-weight: 900;
          color: color($colors, 'primary');
        }
      }

      ion-row {

        &.teams {
          border-top: solid 1px color($colors, 'light');
        }

        ion-col.game-teams {
          padding: 10px 0;

          text-align: center;
          .team-img {
            display: block;
            vertical-align: middle;
            img {
              margin: auto;
              border-radius: 100%;
              width: 60px;
              height: 60px;
              object-fit: cover;
              box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.20);
            }
          }
          .team-info {
            /*padding: 10px;*/
            display: block;
            vertical-align: middle;
            display: none;
            p.team-name {

              margin: 0;
              font-size: 14px;
              line-height: 16px;
              height: 16px;
              overflow: hidden;
              font-weight: 900;
              text-transform: uppercase;
            }

            p.team-category {
              margin: 0;
              font-size: 10px;
              font-weight: 900;
              text-transform: uppercase;
              color: color($colors, 'secondary');

            }
          }

        }

        ion-col.team-img {
          ion-img {
            img {
              border-radius: 100%;
              height: 30px;
              width: 30px;
              object-fit: cover;
            }
          }

        }

        ion-col.game-vs {
          text-align: center;
          font-size: 25px;
          font-weight: 900;
          color: color($colors, 'primary');
          vertical-align: middle;
        }

      }

      ~ .game-expiration {
        margin-top: -5px;
        padding-left: 14px;
        font-size: 10px;
        color: color($colors, 'secondary');
      }

      .stats {
        background: color($colors, 'primary');
        ion-col {
          padding: 5px;
        }

        label {
          font-weight: 300;
          color: color($colors, 'light');
          display: block;
          text-transform: uppercase;
          font-size: 10px;
          margin-bottom: 5px;
          letter-spacing: 1px;

        }

        .stats-icon {
          display: block;

          img {
            width: 15px;
            height: 15px;
            display: inline-block;
            background: none;
            color: white;
          }
        }
      }
    }

  }
}
