// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";

// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;

@import "ionic.globals";

// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/

$headings-font-weight: 300;

// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary: #1D3B64,
  secondary: #8E9DB2,
  success: #70B453,
  danger: #FF5858,
  light: #EDF1F5,
  dark: #101E37,
  white: white,
  favorite: #69BB7B,
  twitter: #1DA1F4,
  google: #DC4A38,
  vimeo: #23B6EA,
  facebook: #3B5998,
  yellow:#FDBF08
);

$yellow: #FDBF08;

// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/

$card-header-color: color($colors, 'primary');
$background-color: color($colors, 'light');

// TABS
//-----------------------------
// Size

$tabs-ios-tab-font-size: 8px;
$tabs-ios-tab-icon-size: 22px;
$tabs-md-tab-font-size: 8px;
$tabs-md-tab-font-size-active: 10px;
$tabs-md-tab-icon-size: 22px;
$tabs-wp-tab-font-size: 8px;
$tabs-wp-tab-icon-size: 22px;

// TABS
//-----------------------------
// Color

$tabs-ios-tab-color-inactive: color($colors, 'secondary');
$tabs-md-tab-color-inactive: color($colors, 'secondary');
$tabs-wp-tab-color-inactive: color($colors, 'secondary');

// TABS
//-----------------------------
// Text Capitalization

// TOOLBAR TITLE
//-----------------------------
// Font Weight
$toolbar-ios-title-font-weight: 900;
$toolbar-wp-title-font-weight: 900;
$toolbar-md-title-font-weight: 900;

$toolbar-ios-title-text-align: center;
$toolbar-wp-title-text-align: center;
$toolbar-md-title-text-align: center;

$toolbar-background: color($colors, 'primary');

$toolbar-md-title-font-size: 14px;
$toolbar-ios-title-font-size: 14px;
$toolbar-wp-title-font-size: 14px;

$text-input-wp-border-width: 0;

$list-ios-background-color: white;
$list-md-background-color: white;
$list-wp-background-color: white;

$card-ios-text-color: color($colors, 'primary');
$card-md-text-color: color($colors, 'primary');
$card-wp-text-color: color($colors, 'primary');

// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here

// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here

// Use the primary color as the background for the toolbar-md-background
$toolbar-md-background: color($colors, primary);

// Change the color of the segment button text
$toolbar-md-active-color: #FFFFFF;

$button-ios-border-radius: 1px;

// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here

// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";

// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

@import "ionic.ionicons";

// Fonts
// --------------------------------------------------
// Roboto font is used by default for Material Design. Noto sans
// is used by default for Windows.

@import "roboto";
@import "noto-sans";
